html,body,h1,h2,h3,h4,h5,h6,ul,ol,dl,dt,dd,li,p{
    margin: 0;
    padding:0;
    font-size: 12px;
    font-family: "Microsoft Yahei";
    font-weight: normal;
}
body,a{
    color: #333;
}

dl{
    display: block;
}

a{
    text-decoration: none;
    color:#666;
    font-size: 12px;
    outline: none;
    padding:0;
    cursor: pointer;
}
i{
    font-style: normal;
}
ul,ol,dl,li{
    list-style: none;
}

.container{
    position: relative;
    width:1190px;
    height:100%;
    margin:0 auto;
}

.fl{
    float: left;
}


.ahover:hover{
    text-decoration: underline;
    color:#F60;
}
.clearboth::after{
    content:"";
    display: block;
    clear: both;
}
.hot_zh{
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url(../images/npbg.png) no-repeat 0 -205px;
}
.new_zh{
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url(../images/npbg.png) no-repeat -15px -205px;
}

/* 图标 */
.sidebar .sidebar_tab .tab-icon, .sidebar .sidebar_tab .tab-icon-tip, .sidebar .tab-tip-code-warp .icon {
    background: url(../images/sidebaricon.png) no-repeat;
}

/* 关闭 */
a.wrap2_close{
    position: absolute;
    display: inline-block;
    font-size: 22px;
    text-align: center;
    right: 5px;
    top: 5px;
}
a.wrap2_close i{
    color: #989898;
    transform-origin: 50% 50%;
    -webkit-transition: transform .2s ease-in;
    -moz-transition: transform .2s ease-in;
    -o-transition: transform .2s ease-in;
    transition: transform .2s ease-in
}
a.wrap2_close:hover i{
	color: #F60;
	transform: rotate(-180deg);
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	-o-transform: rotate(-180deg)
}
@font-face {
    font-family:iconfont;
    src:url("../fonts/iconfont.woff"),url("../fonts/iconfont.ttf");
}

.nav_wrap1_fl{
    position: relative;
	float: left;
}

.nav_wrap1_a,.nav_wrap1_an{
    display: inline-block;
    height: 35px;
    padding: 0 10px;
    text-align: center;
    overflow: hidden;
}
.nav_wrap1_an{
    font-size:14px;
}

.nav_wrap1_a:hover{
    background: #fff;
	border: 1px solid #ddd;
	border-bottom: 0;
	line-height: 33px;
	padding: 0 9px
}
/* .nav_wrap1_an:hover{
	border: 1px solid #ddd;
	border-bottom: 0;
	line-height: 33px;
	padding: 0 9px
} */

.nav_wrap1_login{
    display: inline-block;
    height: 35px;
    padding: 0 10px;
    text-align: center;
    overflow: hidden;
    font-family: arial,tahoma,"宋体";
}

.nav_wrap2{
    position: absolute;
    top:35px;
    border:1px solid #ddd;
    background: #fff;
}

.nav_wrap1_a span{
    display: inline-block;
    height: 100%;
    line-height: 35px;
}

.nav_wrap1_a span{
    font-family: arial,tahoma,"宋体";
    vertical-align: middle;
}

#_TOP_NAV_ .nav_wrap1_a i.fa-angle-down{
    display: inline-block;
    height: 100%;
    line-height: 35px;
}

#_TOP_NAV_ .nav_wrap1_a i.fa-angle-down{
    width: 10px;
    font-size: 10px;
    color:#bbb;
    margin-left: 3px;
    transform-origin: 50% 50%;
    transition: all .2s ease-in;
}

#_TOP_NAV_ .nav_wrap1_a:hover i.fa-angle-down{
    transform:rotate(-180deg);
}


/* -------------------------
*---------底部footer--------
----------------------------*/
#_ABOUT_FOOTER_{
    margin-top: 10px;
}

#_ABOUT_FOOTER_ .footer_guide{
    width: 100%;
    background: #f5f5f5;
    border-top: 1px solid #e7e7e7;
}
#_ABOUT_FOOTER_ .footer_guide .footer_info{
    overflow: hidden;
}

#_ABOUT_FOOTER_ .footer_promise{
    width: 1250px;
    padding: 12px 0;
    border-bottom: 1px solid #eaeaea;
}
#_ABOUT_FOOTER_ .footer_promise dl{
    float: left;
    width: 250px;
    overflow: hidden;
}
#_ABOUT_FOOTER_ .footer_promise dt {
    float: left;
    width: 48px;
    height: 48px;
    background: url("../images/npbg.png") no-repeat;
    text-indent: -999em;
    overflow: hidden;
    margin-right: 8px;
}
#_ABOUT_FOOTER_ .footer_promise dt.zhengpin{
    background-position: 0 0;
}
#_ABOUT_FOOTER_ .footer_promise dt.jisu{
    background-position: -48px 0;
}
#_ABOUT_FOOTER_ .footer_promise dt.wuyou{
    background-position: -96px 0;
}
#_ABOUT_FOOTER_ .footer_promise dt.tese{
    background-position: -144px 0;
}
#_ABOUT_FOOTER_ .footer_promise dt.help{
    background-position: -191px 0;
}

#_ABOUT_FOOTER_ .footer_promise dd p {
    line-height: 24px;
    width: 100%;
    color: #545454;
}
#_ABOUT_FOOTER_ .footer_promise dd p a{
    font-weight: 700;
    color: #222;
    font-size: 14px;
}

#_ABOUT_FOOTER_ .footer_help{
    float: left;
    width: 1050px;
    height:180px;
}
#_ABOUT_FOOTER_ .footer_help dl{
    float: left;
    width: 210px;
    height:160px;
}

#_ABOUT_FOOTER_ .footer_help dt {
    width: 100%;
    line-height: 40px;
    font-weight: 700;
    color: #545454;
    height: 35px;
    font-size: 14px;
    overflow: hidden;
}
#_ABOUT_FOOTER_ .footer_help dd {
    width: 100%;
    line-height: 22px;
}

#_ABOUT_FOOTER_ .footer_help dd a{
    color: #545454;
    font-weight: 400;
}
#_ABOUT_FOOTER_ .app_down {
    float: left;
    height: 180px;
    width: 90px;
}
#_ABOUT_FOOTER_ .app_down p{
    width: 100%;
    line-height: 40px;
    font-weight: 700;
    color: #545454;
    height: 35px;
    font-size: 14px;
    margin-bottom: 5px;
    overflow: hidden;
}
#_ABOUT_FOOTER_ .footer_last{
    width: 100%;
    padding-top: 15px;
    background: #33302b;
}
#_ABOUT_FOOTER_ .footer_last_info{
    min-width: 1190px;
    height: 120px;
    text-align: center;
}
#_ABOUT_FOOTER_ .footer_last_list {
    line-height: 25px;
    height: 25px;
}
#_ABOUT_FOOTER_ .footer_last_list a{
    color: #f9f9f9;
}
#_ABOUT_FOOTER_ .footer_last_list span {
    color: #888;
    padding: 0 10px;
}
#_ABOUT_FOOTER_ .footer_copyright{
    width: 1190px;
    float: left;
    color: #999;
    margin-top: 5px;
    line-height: 25px;
    height: 25px;
    font-weight: 400;
    text-align: center;
}
#_ABOUT_FOOTER_ .footer_copyright a{
    padding-right:20px;
}

#_ABOUT_FOOTER_ .footer_authentication {
    text-align: center;
    height: 25px;
    margin-top: 5px;
}
/* -------------------------
*-----------顶部导航栏----------- 
----------------------------*/
#_TOP_NAV_{
    height: 35px;
    width: 100%;
    min-width: 1190px;
    background: #F4F4F4;
    border-bottom: 1px solid #ECECEC;
    line-height: 35px;
}
/* 左侧 */
#_TOP_NAV_ .top_nav_left{
    float: left;
    height: 35px;
}

/* 网络导航 */
/* 一级 */
#_TOP_NAV_ .webnav_wrap{
    position: relative;
}

/* 二级 */
#NAV_INFO_WRAP{
    width: 988px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#NAV_INFO_WRAP dl.nav_wrap2_list{
    position: relative;
    display: block;
    float: left;
    width: 176px;
    border-right:1px solid #eee;
    padding-left: 20px;
}

#NAV_INFO_WRAP dl.wrap2_right{
    border-right: none;
}

#NAV_INFO_WRAP dl.nav_wrap2_list dt{
    display: block;
    width: 100%;
    height: 25px;
    font-size: 14px;
    line-height: 17px;
}

#NAV_INFO_WRAP dl.nav_wrap2_list dd{
    display: block;
    width:100%;
    overflow: hidden;
}

#NAV_INFO_WRAP dl.nav_wrap2_list dd p{
    float: left;
    width: 78px;
    height: 25px;
    line-height: 25px;
}

#NAV_INFO_WRAP dl.nav_wrap2_list dd a{
    font-size: 12px;
    position: relative;
    display: inline-block;
    font-family: arial,tahoma,"宋体";
}

#NAV_INFO_WRAP a:hover{
    color:#F60;
    text-decoration: underline;
}


/* 消息 */
#_TOP_NAV_ .msg_wrap a:hover{
    color:#F60;
    text-decoration: underline;
}

/* 消息二级 */
#MSG_INFO_WRAP{
    width: 187px;
}

#MSG_INFO_WRAP .msg_item{
    display: block;
    padding: 4px 15px;
    height: 36px;
}

#MSG_INFO_WRAP .msg_item i{
	display: inline-block;
	width: 34px;
	height: 34px;
    margin-right: 6px;
	vertical-align: middle;    
}
#MSG_INFO_WRAP .msg_list {
    padding:12px 0;
}
#MSG_INFO_WRAP .msg_item.msg_item i{
	background: url("../images/npbg.png") 0 -292px;
}

#MSG_INFO_WRAP .msg_item.msg_item_no i{
	background: url("../images/npbg.png") -35px -292px;
}

#MSG_INFO_WRAP .msg_item span{
    display: inline-block;
	width: 110px;
	color: #666;
	line-height: 30px;
	max-height: 36px;
	overflow: hidden;
	word-break: break-all;
	vertical-align: middle;
}

#MSG_INFO_WRAP .msg_bottom{
    padding:0 10px;
    border-top:1px solid #eee; 
    line-height: 26px;
    text-align: right;
}

#MSG_INFO_WRAP .msg_bottom a:hover{
    color:#F90;
}
/* 右侧 */
#_TOP_NAV_ .top_nav_right{
    position: relative;
    float: right;
    height: 35px;
}

#_TOP_NAV_ .top_nav_right .nav_wrap1_fl{
    height: 35px;
}

/* 已登录用户btn */
#USERS_LOGIN_UNAME{
    min-width: 70px;
}

/* 已登录用户二级菜单 */
#LOGIN_INFO_WRAP{
    width:98%;
    min-width: 70px;
}

#LOGIN_INFO_WRAP a{
    display: block;
    width:71px;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
}
#LOGIN_INFO_WRAP a:hover{
    color:#F60;
}

/* 未登录btn */

#REG_LOGIN_WRAP a{
    display: block;
    float: left;
    overflow: hidden;
}

#REG_LOGIN_WRAP a:hover{
    color:#F60;
}

#REG_LOGIN_WRAP .nav_reg{
    padding:0 10px;
}
/* 我的订单——我的易购——客户服务 */
#MY_ORDER_INFO_WRAP a,#MY_OTHER_INFO_WRAP a{
    display: block;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    width: 71px;
}
#MY_ORDER_INFO_WRAP a:hover,#MY_OTHER_INFO_WRAP a:hover,#CLIENT_SERVE_INFO_WRAP a:hover{
    text-decoration: underline;
    color:#F60;
}



/* 购物车 */
#MY_CART .cartnum{
    position: relative;
    display: inline-block;
    height: 18px;
    min-width: 8px;
    padding:0 4px;
    text-align: center;
    color:#fff;
    border-radius: 8px;
    background: #f7a705;
}
#MY_CART .cartnum b{
    position: absolute;
    font-size: 12px;
    top:-8px;
    left:4px;
}
/* 手机苏宁 */
#MB_SUNING_INFO_WRAP{
    left: -13px;
    width: 243px;
    height: 210px;
    padding: 15px;
}

#MB_SUNING_INFO_WRAP .ng_mb_box{
    float: left;
    height: 162px;
    width: 132px;
    margin-bottom: 10px;
}
#MB_SUNING_INFO_WRAP .ng_app_box{
    float: left;
    width: 80px;
    height: 132px;
    margin-bottom: 10px;
    padding-top: 30px;
    padding-left: 15px;
    overflow: hidden;
}
#MB_SUNING_INFO_WRAP .ng_app_box .ng_app_list{
    width: 98px;
    height: 89px;
    overflow: hidden;
}
#MB_SUNING_INFO_WRAP .ng_app_box .ng_app_list a{
    float: left;
    margin-right: 15px;
    margin-bottom: 20px;
    height: 32px;
    width: 32px;
    overflow: hidden;
}

#MB_SUNING_INFO_WRAP>a{
    display: block;
    line-height: 35px;
    
}
/* 客户服务 */
#CLIENT_SERVE_INFO_WRAP a{
    display: block;
    height: 22px;
    width:71px;
    padding-left: 10px;
    line-height: 22px;
}

/* 下拉导航 */
.nav_wrap1_fl.selectDown .nav_wrap2{
    display: none;
}
.nav_wrap1_fl.selectDown:hover .nav_wrap2{
    display: block;
    z-index: 9999;
}

