html,body,h1,h2,h3,h4,h5,h6,ul,ol,dl,dt,dd,li,p{
    margin: 0;
    padding:0;
    font-size: 12px;
    font-family: "Microsoft Yahei";
}
body,a{
    color: #333;
}

dl{
    display: block;
}

a{
    text-decoration: none;
    color:#666;
    font-size: 12px;
    outline: none;
    padding:0;
    cursor: pointer;
}
i{
    font-style: normal;
}
ul,ol,dl,li{
    list-style: none;
}

.container{
    position: relative;
    width:1190px;
    height:100%;
    margin:0 auto;
}

.fl{
    float: left;
}


.ahover:hover{
    text-decoration: underline;
    color:#F60;
}
.clearboth::after{
    content:"";
    display: block;
    clear: both;
}
.hot_zh{
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url(../images/npbg.png) no-repeat 0 -205px;
}
.new_zh{
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url(../images/npbg.png) no-repeat -15px -205px;
}

/* 关闭 */
a.wrap2_close{
    position: absolute;
    display: inline-block;
    font-size: 22px;
    text-align: center;
    right: 5px;
    top: 5px;
}
a.wrap2_close i{
    color: #989898;
    transform-origin: 50% 50%;
    -webkit-transition: transform .2s ease-in;
    -moz-transition: transform .2s ease-in;
    -o-transition: transform .2s ease-in;
    transition: transform .2s ease-in
}
a.wrap2_close:hover i{
	color: #F60;
	transform: rotate(-180deg);
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	-o-transform: rotate(-180deg)
}
@font-face {
    font-family:iconfont;
    src:url("../fonts/iconfont.woff"),url("../fonts/iconfont.ttf");
}

.nav_wrap1_fl{
    position: relative;
	float: left;
}

.nav_wrap1_a{
    display: inline-block;
    height: 35px;
    padding: 0 10px;
    text-align: center;
    overflow: hidden;
}

.nav_wrap1_a:hover{
    background: #fff;
	border: 1px solid #ddd;
	border-bottom: 0;
	line-height: 33px;
	padding: 0 9px
}

.nav_wrap1_login{
    display: inline-block;
    height: 35px;
    padding: 0 10px;
    text-align: center;
    overflow: hidden;
    font-family: arial,tahoma,"宋体";
}

.nav_wrap2{
    position: absolute;
    top:35px;
    border:1px solid #ddd;
    background: #fff;
}

.nav_wrap1_a span{
    display: inline-block;
    height: 100%;
    line-height: 35px;
}

.nav_wrap1_a span{
    font-family: arial,tahoma,"宋体";
    vertical-align: middle;
}

#_TOP_NAV_ .nav_wrap1_a i.fa-angle-down{
    display: inline-block;
    height: 100%;
    line-height: 35px;
}

#_TOP_NAV_ .nav_wrap1_a i.fa-angle-down{
    width: 10px;
    font-size: 10px;
    color:#bbb;
    margin-left: 3px;
    transform-origin: 50% 50%;
    transition: all .2s ease-in;
}

#_TOP_NAV_ .nav_wrap1_a:hover i.fa-angle-down{
    transform:rotate(-180deg);
}
