/* -------------------------
*-----------通顶----------- 
----------------------------*/
#_TOP_ACTIVE_ .top_active_wrap{
    background: #E21324 url(../images/top_active.jpg) no-repeat center;
    height:100px;
    width:100%;
}

#_TOP_ACTIVE_ .top_active_btn{
    position: absolute;
    right:42px;
    top:3px;
    background-image: url(../images/index.png);
    height:15px;
    width:15px;
}

#_TOP_ACTIVE_ .top_active_btn.btn_close{
    background-position:-15px 0;    
}
#_TOP_ACTIVE_ .top_active_btn.btn_open{
    background-position:-15px -15px;    
}

/* -------------------------
*-----------顶部导航栏----------- 
----------------------------*/
#_TOP_NAV_{
    height: 35px;
    width: 100%;
    min-width: 1190px;
    background: #F4F4F4;
    border-bottom: 1px solid #ECECEC;
    line-height: 35px;
}
/* 左侧 */
#_TOP_NAV_ .top_nav_left{
    float: left;
    height: 35px;
}

/* 网络导航 */
/* 一级 */
#_TOP_NAV_ .webnav_wrap{
    position: relative;
}

/* 二级 */
#NAV_INFO_WRAP{
    width: 988px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#NAV_INFO_WRAP dl.nav_wrap2_list{
    position: relative;
    display: block;
    float: left;
    width: 176px;
    border-right:1px solid #eee;
    padding-left: 20px;
}

#NAV_INFO_WRAP dl.wrap2_right{
    border-right: none;
}

#NAV_INFO_WRAP dl.nav_wrap2_list dt{
    display: block;
    width: 100%;
    height: 25px;
    font-size: 14px;
    line-height: 17px;
}

#NAV_INFO_WRAP dl.nav_wrap2_list dd{
    display: block;
    width:100%;
    overflow: hidden;
}

#NAV_INFO_WRAP dl.nav_wrap2_list dd p{
    float: left;
    width: 78px;
    height: 25px;
    line-height: 25px;
}

#NAV_INFO_WRAP dl.nav_wrap2_list dd a{
    font-size: 12px;
    position: relative;
    display: inline-block;
    font-family: arial,tahoma,"宋体";
}

#NAV_INFO_WRAP a:hover{
    color:#F60;
    text-decoration: underline;
}


/* 消息 */
#_TOP_NAV_ .msg_wrap a:hover{
    color:#F60;
    text-decoration: underline;
}

/* 消息二级 */
#MSG_INFO_WRAP{
    width: 187px;
}

#MSG_INFO_WRAP .msg_item{
    display: block;
    padding: 4px 15px;
    height: 36px;
}

#MSG_INFO_WRAP .msg_item i{
	display: inline-block;
	width: 34px;
	height: 34px;
    margin-right: 6px;
	vertical-align: middle;    
}
#MSG_INFO_WRAP .msg_list {
    padding:12px 0;
}
#MSG_INFO_WRAP .msg_item.msg_item i{
	background: url("../images/npbg.png") 0 -292px;
}

#MSG_INFO_WRAP .msg_item.msg_item_no i{
	background: url("../images/npbg.png") -35px -292px;
}

#MSG_INFO_WRAP .msg_item span{
    display: inline-block;
	width: 110px;
	color: #666;
	line-height: 30px;
	max-height: 36px;
	overflow: hidden;
	word-break: break-all;
	vertical-align: middle;
}

#MSG_INFO_WRAP .msg_bottom{
    padding:0 10px;
    border-top:1px solid #eee; 
    line-height: 26px;
    text-align: right;
}

#MSG_INFO_WRAP .msg_bottom a:hover{
    color:#F90;
}
/* 右侧 */
#_TOP_NAV_ .top_nav_right{
    position: relative;
    float: right;
    height: 35px;
}

#_TOP_NAV_ .top_nav_right .nav_wrap1_fl{
    height: 35px;
}

/* 已登录用户btn */
#USERS_LOGIN_UNAME{
    min-width: 70px;
}

/* 已登录用户二级菜单 */
#LOGIN_INFO_WRAP{
    width:98%;
    min-width: 70px;
}

#LOGIN_INFO_WRAP a{
    display: block;
    width:71px;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
}
#LOGIN_INFO_WRAP a:hover{
    color:#F60;
}

/* 未登录btn */

#REG_LOGIN_WRAP a{
    display: block;
    float: left;
    overflow: hidden;
}

#REG_LOGIN_WRAP a:hover{
    color:#F60;
}

#REG_LOGIN_WRAP .nav_reg{
    padding:0 10px;
}
/* 我的订单——我的易购——客户服务 */
#MY_ORDER_INFO_WRAP a,#MY_OTHER_INFO_WRAP a{
    display: block;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    width: 71px;
}
#MY_ORDER_INFO_WRAP a:hover,#MY_OTHER_INFO_WRAP a:hover,#CLIENT_SERVE_INFO_WRAP a:hover{
    text-decoration: underline;
    color:#F60;
}



/* 购物车 */
#MY_CART .cartnum{
    position: relative;
    display: inline-block;
    height: 18px;
    min-width: 8px;
    padding:0 4px;
    text-align: center;
    color:#fff;
    border-radius: 8px;
    background: #f7a705;
}

/* 手机苏宁 */
#MB_SUNING_INFO_WRAP{
    left: -13px;
    width: 243px;
    height: 210px;
    padding: 15px;
}

#MB_SUNING_INFO_WRAP .ng_mb_box{
    float: left;
    height: 162px;
    width: 132px;
    margin-bottom: 10px;
}
#MB_SUNING_INFO_WRAP .ng_app_box{
    float: left;
    width: 80px;
    height: 132px;
    margin-bottom: 10px;
    padding-top: 30px;
    padding-left: 15px;
    overflow: hidden;
}
#MB_SUNING_INFO_WRAP .ng_app_box .ng_app_list{
    width: 98px;
    height: 89px;
    overflow: hidden;
}
#MB_SUNING_INFO_WRAP .ng_app_box .ng_app_list a{
    float: left;
    margin-right: 15px;
    margin-bottom: 20px;
    height: 32px;
    width: 32px;
    overflow: hidden;
}

#MB_SUNING_INFO_WRAP>a{
    display: block;
    line-height: 35px;
    
}
/* 客户服务 */
#CLIENT_SERVE_INFO_WRAP a{
    display: block;
    height: 22px;
    width:71px;
    padding-left: 10px;
    line-height: 22px;
}

/* 下拉导航 */
.nav_wrap1_fl.selectDown .nav_wrap2{
    display: none;
}
.nav_wrap1_fl.selectDown:hover .nav_wrap2{
    display: block;
    z-index: 9999;
}

/* -------------------------
*-----------搜索栏----------- 
----------------------------*/
#_SEARCH_HEADER_BOX{
    position: relative;
}

#_SEARCH_HEADER_BOX .header_search_img{
    position: absolute;
    width: 100%;
    height: 100px;
    left:0;
    top:0;
}
#_SEARCH_HEADER_BOX_ .header_search{
    position: absolute;
    height: 100px;
    width: 600px;
    top: 0;
    left: 370px;
}
#_SEARCH_HEADER_BOX_ .header_search .search_box{
    position: relative;
    float:right;
    width: 600px;
    margin: 28px 0 0 0;
}

#_SEARCH_HEADER_BOX_ .header_search .search_box i.fa-search{
    position: absolute;
    display: block;
    height: 34px;
    width: 34px;
    top: 0;
    left: 0;
    text-align: center;
    line-height: 34px;
    font-size: 18px;
    color: #ccc;
}

#_SEARCH_HEADER_BOX_ .search_keyword_box{
    float: left;
    width: 468px;
    padding-left: 30px;
    border:2px solid #fa0;
    border-right: 0;
}
#_SEARCH_HEADER_BOX_ #SEARCH_KEYWORDS{
    width: 458px;
    height: 18px;
    margin-top: 0;
    padding: 8px 10px 8px 0;
    border: 0;
    background: #FFF;
    color: #BBB;
    font-size: 14px;
    line-height: 18px;
    outline: none;
}
#_SEARCH_HEADER_BOX_ #SEARCH_KEYWORDS:focus{
    color:#333;
}
#_SEARCH_HEADER_BOX_ #SEARCH_SUBMIT{
    width: 100px;
    height: 38px;
    margin-top: 0;
    padding: 0 30px;
    border: 0;
    cursor: pointer;
    background: #fa0;
    letter-spacing: 7px;
    font-weight: bold;
    font-family: 'MicroSoft YaHei';
    font-size: 16px;
    color: #fff;
}

#_SEARCH_HEADER_BOX_ .header_search_img_right{
    position: absolute;
    right: 0;
    top:0;
    margin-top:10px;
}

/* -------------------------
*-----------分类栏----------- 
----------------------------*/
#_SORT_NAV_BAR_{
    min-width: 1190px;
    height: 36px;
    border-bottom: 2px solid #333;
}
#_SORT_NAV_BAR_ .sort_nav{
    position: absolute;
    top:0;
    left:0;
    /* left:50%; */
    /* margin-left:-495px; */
}
#_SORT_NAV_BAR_ .sort_nav .sort_all_a{
    position: relative;
    display: block;
    font-size: 14px;
    padding-left: 10px;
    color: #fff !important;
	background: #fa0;
	height: 36px;
	line-height: 36px;
    overflow: hidden;
}
#_SORT_NAV_BAR_ .sort_nav .sort_all_a i{
    font-size: 14px;
    margin-right: 16px;
    width: 16px;
    height: 35px;
}
#_SORT_NAV_BAR_ .sort_nav .sort_all_a span{
    font-weight: 700;
}
#_SORT_NAV_BAR_ .sort_nav .sort_list_box {
    position: relative;
    height: 442px;
    width: 190px;
    background: #2b2b2b;
    padding-top: 2px;
    padding-bottom: 8px;
    z-index: 9000;
}
#_SORT_NAV_BAR_ .sort_nav .sort_list_box li {
    height: 32px;
    line-height: 32px;
    border-top: 1px solid #333;
    border-bottom: 1px solid #252525;
}

#_SORT_NAV_BAR_ .sort_nav .sort_list_box li:hover {
    background: #fff;
    border-top: 1px solid #333;
    border-right: 0;
}

#_SORT_NAV_BAR_ .sort_nav .sort_list_box li:hover a{
    color:#333;
    font-weight: 700;
}

#_SORT_NAV_BAR_ .sort_nav .sort_list_box li i.slide_iconfont{
    color:#FA0;
    float: left;
    font-size: 16px;
    width: 16px;
    height: 16px;
    padding-right: 2px;
}

#_SORT_NAV_BAR_ .sort_nav .sort_list_box li a{
    color:#eee;
    float: left;
    display: inline-block;
    margin-left: 8px;
    font-size: 13px;
    white-space: nowrap;
}

#_SORT_NAV_BAR_ .sort_nav .sort_list_box li a:hover{
    text-decoration: underline;
}
/* 横条分类 */
#_SORT_NAV_BAR_ .nav_index{
    z-index: 9000;
    position: absolute;
    left: 50%;
    width: 785px;
    margin-left: -405px;
    padding-left: 10px;
    height: 36px;
    line-height: 36px;
}
#_SORT_NAV_BAR_ .nav_index h4{
    display: none;
    height: 35px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 14px;
    color: #333;
}
#_SORT_NAV_BAR_ .nav_index h4 span{
    display: inline-block;
    line-height: 34px;
    border-bottom: 1px solid #eee;
    border: 1px solid red;
}

#_SORT_NAV_BAR_ .nav_index ul.index_list li{
    float: left;
    display: block;
    height: 36px;
    line-height: 36px;
    padding: 0 12px 0 13px;
}
#_SORT_NAV_BAR_ .nav_index ul.index_list li a{
    position: relative;
    float: left;
    color: #333;
    font-size: 15px;
    cursor: pointer;
}
#_SORT_NAV_BAR_ .nav_index ul.index_list li a:hover{
    color:#F60;
    text-decoration: underline;
}

/* -------------------------
*-----------轮播图----------- 
----------------------------*/
#_BANNER_TOP_{
    min-width: 1190px;
    position: relative;
    width: 100%;
    height: 450px;
}

#_BANNER_TOP_ .banner{
    position: relative;
    z-index: 50;
    width: 100%;
    height: 450px;
    overflow: hidden;
    text-align: center;
}
/* 箭头 */
#_BANNER_TOP_ .banner .banner_prev{
    margin-left: -395px;
    display: inline;
}
#_BANNER_TOP_ .banner .banner_next{
    margin-left:345px;
    display: inline;
}

#_BANNER_TOP_ .banner .banner_btn{
    position: absolute;
    z-index: 100;
    width: 50px;
    height: 84px;
    cursor: pointer;
    overflow: hidden;
    top: 183px;
    left: 50%;
}


#_BANNER_TOP_ .banner .banner_btn span.btn_bg{
    z-index: 1;    
    position: absolute;
    width: 50px;
    height: 84px;    
    top: 0;
    left: 0;
    background: #000;
    opacity: .15;
}
#_BANNER_TOP_ .banner .banner_btn i{
    position: absolute;
    display: block;
    z-index: 2;
    top: 50%;
    left:50%;
    transform:translate(-50%,-50%);
    width: 17px;
    height: 34px;
    overflow: hidden;
}
#_BANNER_TOP_ .banner .banner_prev i{
    background: url(../images/index.png) no-repeat -32px 0px;
}
#_BANNER_TOP_ .banner .banner_next i{
    background: url(../images/index.png) no-repeat -50px 0px;
}

#_BANNER_TOP_ .banner .banner_pic ul li{
    display: none;
    opacity: 0;
    transition: all .5s linear;
}
#_BANNER_TOP_ .banner .banner_pic ul li.show{
    display: block;
    opacity: 1;
}
/* 图片选择器 */
/* 整个选择条 */
#_BANNER_TOP_ .banner .banner_ctrl{
    z-index: 80;
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: 810px;
    margin-left: -395px;
}
/* 单个选择条 */
#_BANNER_TOP_ .banner .banner_ctrl li{
    /* display: inline; */
    position: relative;
    float: left;
    margin-bottom: 0;
    width: 71px;
    height: 40px;
    margin-left: 1px;
}


/* 选择条背景 */
#_BANNER_TOP_ .banner .banner_ctrl li .ctrl_bg{
    z-index: 5;    
    position: absolute;
    bottom: 0;
    left:0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .3;
    transition: all .3s;
}
#_BANNER_TOP_ .banner .banner_ctrl li:hover .ctrl_bg{
    background: #000;
    opacity: .65;
}
/* 选择条横点wrap */
#_BANNER_TOP_ .banner .banner_ctrl li .title_item{
    display: block;
    position: absolute;
    z-index: 8;
    bottom: 40px;
    left: 0;
    width: 223px;
    height: auto;
    overflow: hidden;
    transition: all .3s;
}
#_BANNER_TOP_ .banner .banner_ctrl li.ctrl08 .title_item, 
#_BANNER_TOP_ .banner .banner_ctrl li.ctrl09 .title_item, 
#_BANNER_TOP_ .banner .banner_ctrl li.ctrl10 .title_item{
    left:-152px;
}
#_BANNER_TOP_ .banner .banner_ctrl li .title_item .ctrl_dot{
    display: none;
    position: absolute;
    z-index: 9900;
    top: -4px;
    left:0;
    width: 100%;
    height: 4px;
    text-align: center;
}

/* 选择条横点 */
#_BANNER_TOP_ .banner .banner_ctrl li .title_item .ctrl_dot i{
    /* display: inline-block; */
    display: none;
    width: 8px;
    height: 4px;
    background: #fff;
    vertical-align: top;
    overflow: hidden;
}

/* 二级选择菜单条 */

#_BANNER_TOP_ .banner .banner_ctrl li .title_item span.title_bg{
    z-index: 1;
    display: none;
    position: absolute;
    top:0;
    left:0;
    width: 223px;
    height: 200px;
    background: #000;
    opacity: .65;
}
#_BANNER_TOP_ .banner .banner_ctrl li .title_item .title_list {
    display: none;
    position: relative;
    z-index: 2;
    padding: 8px 10px 2px 13px;
    text-align: left;
}


#_BANNER_TOP_ .banner .banner_ctrl li .title_item .title_list p{
    display: none;
    height: 18px;
    margin-bottom: 6px;
    overflow: hidden;
    font-size:12px;
}

#_BANNER_TOP_ .banner .banner_ctrl li .title_item .title_list p i{
    display: none;
    width: 8px;
    height: 4px;
    margin-right: 8px;
    background: #fff;
    vertical-align: middle;
    overflow: hidden;
}
#_BANNER_TOP_ .banner .banner_ctrl li .title_item .title_list p:hover i{
    background:#FA0;
}
#_BANNER_TOP_ .banner .banner_ctrl li:hover .title_item .title_list p:first-child i{
    background:#FA0;
}
#_BANNER_TOP_ .banner .banner_ctrl li .title_item .title_list p a{
    display: none;
    width: 180px;
    height: 18px;
    color: #ddd;
    vertical-align: middle;
    overflow: hidden;
}
#_BANNER_TOP_ .banner .banner_ctrl li .title_item .title_list p:hover a{
    color: #F60;
    text-decoration: underline;
}
#_BANNER_TOP_ .banner .banner_ctrl li:hover .title_item span.title_bg,
#_BANNER_TOP_ .banner .banner_ctrl li:hover .title_item .title_list,
#_BANNER_TOP_ .banner .banner_ctrl li:hover .title_item .title_list p{
    display: block;
}
#_BANNER_TOP_ .banner .banner_ctrl li:hover .title_item .title_list p i,
#_BANNER_TOP_ .banner .banner_ctrl li:hover .title_item .title_list p a{
    display: inline-block;
}

#_BANNER_TOP_ .banner .banner_ctrl li h4 {
    position: absolute;
    z-index: 6;
    top: 0px;
    width: 100%;
    height: 40px;
    color: #fff;
    font-weight: normal;
    line-height: 40px;
    text-align: center;
    cursor: default;
    overflow: hidden;
}

/* --------公告和助手栏----- */
#_BANNER_TOP_ .show_board{
    position: absolute;
    z-index: 60;
    top: 10px;
    left: 50%;
    width: 190px;
    margin-left: 404px;
    overflow: hidden;
}
#_BANNER_TOP_ .show_board .show_wrap{
    position: relative;
    height: auto;
    overflow: hidden;
}
#_BANNER_TOP_ .show_board .show_wrap .title {
    position: relative;
    height: 40px;
    padding-left: 14px;
    border-bottom: 1px solid #eee;
    background: #fff;
    font: 14px/40px 'microsoft yahei';
    overflow: hidden;
}
#_BANNER_TOP_ .show_board .show_wrap .title i {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    background: url("../images/index.png") 0 -31px;
    vertical-align: middle;
    overflow: hidden;
}
#_BANNER_TOP_ .show_board .show_wrap .title .more {
    position: absolute;
    top: 0px;
    right: 10px;
    font: 12px/40px;
    color: #666;
}

/* 公告 */
#_BANNER_TOP_ .show_board .show_wrap .notice {
    position: relative;
    height: 155px;
    border-bottom: 1px solid #eee;
    overflow: hidden;
}
#_BANNER_TOP_ .show_board .show_wrap .notice .bg {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 155px;
    background: #fff;
    opacity: 0.9;
    overflow: hidden;
}
#_BANNER_TOP_ .show_board .show_wrap .notice .list{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 145px;
    padding-top: 10px;
    overflow: hidden;
}
#_BANNER_TOP_ .show_board .show_wrap .notice .list li {
    height: 18px;
    margin: 0 10px 9px 15px;
    line-height: 18px;
    overflow: hidden;
}
#_BANNER_TOP_ .show_board .show_wrap .notice .list li a{
    color:#666;
}

#_BANNER_TOP_ .show_board .show_wrap .notice .list li.hot a,
#_BANNER_TOP_ .show_board .show_wrap .notice .list li a:hover{
    color:#F60;
    text-decoration: underline;
}

/* 生活助手 */
#_BANNER_TOP_ .show_board .show_wrap .life{
    position: relative;
    height: 191px;
    border-bottom: 1px solid #eee;
    overflow: hidden;
}
    
#_BANNER_TOP_ .show_board .show_wrap .life .bg {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 191px;
    background: #fff;
    opacity: 0.9;
    overflow: hidden;
}
#_BANNER_TOP_ .show_board .show_wrap .life .list{
    position: absolute;
    z-index: 2;
    width:200px;
    height: 191px;
    overflow: hidden;
    /* border:1px solid red; */
}
#_BANNER_TOP_ .show_board .show_wrap .life .list li {
    float: left;
    width: 63px;
    height: 63px;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    overflow: hidden;
}
#_BANNER_TOP_ .show_board .show_wrap .life .list li a {
    display: block;
    width: 62px;
    height: 74px;
    color: #666;
    font-family: "microsoft yahei";
    text-align: center;
    cursor: pointer;
    overflow: hidden;
}
#_BANNER_TOP_ .show_board .show_wrap .life .list li a .ng-iconfont {
    display: block;
    height: 35px;
    color: #666;
    font-size: 26px;
    text-align: center;
    line-height: 42px;
    overflow: hidden;
}


