/* -------------------------
*-----------通顶----------- 
----------------------------*/
#_TOP_ACTIVE_ .top_active_wrap{
    background: #E21324 url(../images/top_active.jpg) no-repeat center;
    height:100px;
    width:100%;
}

#_TOP_ACTIVE_ .top_active_btn{
    position: absolute;
    right:42px;
    top:3px;
    background-image: url(../images/index.png);
    height:15px;
    width:15px;
}

#_TOP_ACTIVE_ .top_active_btn.btn_close{
    background-position:-15px 0;    
}
#_TOP_ACTIVE_ .top_active_btn.btn_open{
    background-position:-15px -15px;    
}

/* -------------------------
*-----------顶部导航栏----------- 
----------------------------*/
#_TOP_NAV_{
    height: 35px;
    width: 100%;
    background: #F4F4F4;
    border-bottom: 1px solid #ECECEC;
    line-height: 35px;
}
/* 左侧 */
#_TOP_NAV_ .top_nav_left{
    float: left;
    height: 35px;
}

/* 网络导航 */
/* 一级 */
#_TOP_NAV_ .webnav_wrap{
    position: relative;
}

/* 二级 */
#NAV_INFO_WRAP{
    width: 988px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#NAV_INFO_WRAP dl.nav_wrap2_list{
    position: relative;
    display: block;
    float: left;
    width: 176px;
    border-right:1px solid #eee;
    padding-left: 20px;
}

#NAV_INFO_WRAP dl.wrap2_right{
    border-right: none;
}

#NAV_INFO_WRAP dl.nav_wrap2_list dt{
    display: block;
    width: 100%;
    height: 25px;
    font-size: 14px;
    line-height: 17px;
}

#NAV_INFO_WRAP dl.nav_wrap2_list dd{
    display: block;
    width:100%;
    overflow: hidden;
}

#NAV_INFO_WRAP dl.nav_wrap2_list dd p{
    float: left;
    width: 78px;
    height: 25px;
    line-height: 25px;
}

#NAV_INFO_WRAP dl.nav_wrap2_list dd a{
    font-size: 12px;
    position: relative;
    display: inline-block;
    font-family: arial,tahoma,"宋体";
}

#NAV_INFO_WRAP a:hover{
    color:#F60;
    text-decoration: underline;
}

#NAV_INFO_WRAP .hot_zh{
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url(../images/npbg.png) no-repeat 0 -205px;
}

#NAV_INFO_WRAP a.wrap2_close{
    position: absolute;
    display: inline-block;
    font-size: 22px;
    text-align: center;
    right: 5px;
    top: 5px;
}

#NAV_INFO_WRAP a.wrap2_close i{
    color: #989898;
    transform-origin: 50% 50%;
    -webkit-transition: transform .2s ease-in;
    -moz-transition: transform .2s ease-in;
    -o-transition: transform .2s ease-in;
    transition: transform .2s ease-in
}

#NAV_INFO_WRAP a.wrap2_close:hover i{
	color: #F60;
	transform: rotate(-180deg);
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	-o-transform: rotate(-180deg)
}

/* 消息 */
#_TOP_NAV_ .msg_wrap a:hover{
    color:#F60;
    text-decoration: underline;
}

/* 消息二级 */
#MSG_INFO_WRAP{
    width: 187px;
}

#MSG_INFO_WRAP .msg_item{
    display: block;
    padding: 4px 15px;
    height: 36px;
}

#MSG_INFO_WRAP .msg_item i{
	display: inline-block;
	width: 34px;
	height: 34px;
    margin-right: 6px;
	vertical-align: middle;    
}
#MSG_INFO_WRAP .msg_list {
    padding:12px 0;
}
#MSG_INFO_WRAP .msg_item.msg_item i{
	background: url("../images/npbg.png") 0 -292px;
}

#MSG_INFO_WRAP .msg_item.msg_item_no i{
	background: url("../images/npbg.png") -35px -292px;
}

#MSG_INFO_WRAP .msg_item span{
    display: inline-block;
	width: 110px;
	color: #666;
	line-height: 30px;
	max-height: 36px;
	overflow: hidden;
	word-break: break-all;
	vertical-align: middle;
}

#MSG_INFO_WRAP .msg_bottom{
    padding:0 10px;
    border-top:1px solid #eee; 
    line-height: 26px;
    text-align: right;
}

#MSG_INFO_WRAP .msg_bottom a:hover{
    color:#F90;
}
/* 右侧 */
#_TOP_NAV_ .top_nav_right{
    position: relative;
    float: right;
    width:647px;
    height: 35px;
    background: yellow;
}
/* 已登录用户btn */
#USERS_LOGIN_UNAME{
    min-width: 70px;
}

/* 已登录用户二级菜单 */
#LOGIN_INFO_WRAP{
    width:98%;
    min-width: 70px;
}

#LOGIN_INFO_WRAP a{
    display: block;
    width:71px;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
}
#LOGIN_INFO_WRAP a:hover{
    color:#F60;
}

/* 未登录btn */

#REG_LOGIN_WRAP a{
    display: block;
    float: left;
    overflow: hidden;
}

#REG_LOGIN_WRAP a:hover{
    color:#F60;
}

#REG_LOGIN_WRAP .nav_reg{
    padding:0 10px;
}